@media screen and (min-width:576px) {
    aside{
        width: 230px;
    }

    aside .logo-small{
        display: none;
    }

    aside .logo{
        display: block;
        padding-bottom: 20px;
        width: 70%;
    }

    aside .aside-border{
        display: inline;
    }

    aside .aside-border{
        display: block;
        width: 100%;
        border-top: 1px solid gray;
        margin: 10px 0;
    }

    aside .sidebar-text{
        display: inline;
        color: gray;
        margin-bottom: 10px;
    }

    aside .playlist-box{
        display: block;
    }
    
    main{
        width: calc(100% - 230px);
    }

    .song-info .footer-img{
        height: 80%;
    }
}

@media screen and (min-width:768px) {
    .col{
        width: calc(100% / 12 * 3);
    }
}

@media screen and (min-width:992px) {
    .col{
        width: calc(100% / 12 * 2);
        
    }
}