*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

.wrapper{
    height: 100vh;
    overflow: hidden;
}

.top{
    height: calc(100% - 80px);
    width: 100vw;
    display: flex;
}

/* SIDEBAR ZONE */

aside{
    width: 50px;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5px 10px;

    img{
        width: 30px;
        vertical-align: middle;
    }

    .logo-small{
        padding-bottom: 20px;
    }

    .logo{
        display: none;
    }

    .sidebar-text{
        display: none;
    }

    ul{
        color: gray;
        line-height: 2rem;
    }

    li{
        vertical-align: middle;
    }

    h5{
        font-size: 1rem;
        color: white !important; 
    }

    .aside-border{
        display: none;
    }
}

.playlist-box{
    display: none;
    color: gray;
    padding: 30px 0;

    h4{
        color: white;
    }

    .add-playlist{
        padding: 15px 0;
    }

    .fa-plus{
        color: black;
        background-color: gray;
        font-size: 2rem;
        padding: 10px;
        vertical-align: middle;
    }

    ul{
        line-height: 2.5rem;
    }
}

.profile-img{
    background-color: gray;
    border-radius: 50%;
}

/* MAIN ZONE */

main{
    background-color: #141922;
    color: white;
    overflow-y: auto;
    width: calc(100% - 50px);
}

.upgrade{
    width: 100%;
    height: 70px;
    background-color: rgba(0, 0, 0, 0.5);
    position: sticky;
    top: 0;
    text-align: end;
    padding-right: 1rem;
}

.upgrade-button{
    color: white;
    border: 1px solid white;
    background-color: transparent;
    padding: 10px 20px;
    margin: 15px 0;
    border-radius: 20px;
}

.content{
    padding: 20px 20px;
}

nav > ul{
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    color: gray;
    padding: 20px 0;
}

nav li:hover{
    color: white;
    cursor: pointer;
}

.border{
    width: 30px;
    margin: 3px auto;
    border: 1px solid transparent;
}

li:hover .border{
    border-color: lime;
}

.row-title{
    padding: 20px 0;
}

.row-comment{
    color: gray;
}

.row{
    padding: 20px 0;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.col{
    width: calc(100% / 12 * 6);
    padding: 0 5px;
}

.card-img{
    max-width: 100%;
}

.circle-img{
    border-radius: 50%;
}

.card-body{
    max-height: 100%;
    padding: 20px 0;
    text-align: center;
}

.card-comment{
    color: gray;
    font-size: 0.8rem;
    line-height: 1rem;
}




/* FOOTER ZONE */

footer{
    height: 80px;
    min-width: 100%;
    padding: 5px;
    background-color: #282828;
    display: flex;
    justify-content: space-between;
    color: white;
    position: sticky;
    bottom: 0;
    z-index: 1000;

    span{
        color: gray;
    }
}

.song-info{
    display: flex;
    align-items: center;
    max-width: 30%;

    span{
        font-size: 0.8rem;
    }
}

.favourites{
    color: gray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 10px;
    gap: 5px;
}

.footer-img{
    height: 60%;
    padding-right: 10px;
}

.media-player-buttons{
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;

    .fa-solid{
        font-size: 1.3rem;
    }

    .fa-regular{
        font-size: 1.7rem;
    }
}

.media-player{
    width: 100%;
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.song-progress{
    width: 100%;
    max-width: 600px;
}

.time-stamps {
    display: flex;
    justify-content: space-between;
    font-size: 0.75rem;
    margin-bottom: 4px;
}

.progress-bar {
    position: relative;
    height: 4px;
    background-color: #535353;
    border-radius: 2px;
    cursor: pointer;
}

.progress {
    height: 100%;
    width: 30%;
    background-color: white;
    border-radius: 2px;
    position: relative;
}

.progress::after {
    content: "";
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(50%, -50%);
    width: 12px;
    height: 12px;
    background: #fff;
    border-radius: 50%;
    display: none;
}

.progress-bar:hover .progress{
    background-color: lime;
}

.progress-bar:hover .progress::after{
    display: block;
}

.footer-right{
    display: flex;
    align-items: center;
}

.footer-utility{
    display: flex;
    gap: 10px;
}

.volume-container{
    width: 100px;
    padding-left: 10px;
}

.volume-bar{
    position: relative;
    height: 4px;
    background-color: #535353;
    border-radius: 2px;
    cursor: pointer;
}

.volume{
    height: 100%;
    width: 30%;
    background-color: white;
    border-radius: 2px;
    position: relative;
}

.volume::after{
    content: "";
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(50%, -50%);
    width: 12px;
    height: 12px;
    background: #fff;
    border-radius: 50%;
    display: none;
}

.volume-bar:hover .volume{
    background-color: lime;
}

.volume-bar:hover .volume::after{
    display: block;
}